.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 1rem;
  min-width: 268px;
}

.wrapper {
  position: relative;
  overflow: hidden;
  height: 88px;
  display: flex;
  align-items: flex-end;
}

.content {
  display: flex;
  align-items: flex-end;
  gap: 8px;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.content::-webkit-scrollbar {
  display: none;
}

.navButton svg {
  width: 40px;
  height: 40px;
  color: white;
}

.navButtonLeft {
  position: absolute;
  bottom: 0;
  z-index: 10;
  background: linear-gradient(90deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
  border: none;
  width: 36px;
  height: 46px;
  display: flex;
  align-items: center;
  justify-content: start;
  cursor: pointer;
  transition: background-color 0.3s ease;
  left: 0;
}

.navButtonRight {
  position: absolute;
  bottom: 0;
  z-index: 10;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
  border: none;
  width: 36px;
  height: 46px;
  display: flex;
  align-items: center;
  justify-content: end;
  cursor: pointer;
  transition: background-color 0.3s ease;
  right: 0;
}

.item {
  transition: all 0.1s;
  flex: 0 0 90px;
  position: relative;
  border-radius: 4px;
  overflow: hidden;
  scroll-snap-align: start;
}

.itemActive {
  border-style: solid;
  border-width: 1px;
  border-color: #ffffff;
}

.image {
  cursor: pointer;
  transition: all 0.1s;
  aspect-ratio: 16/9;
  height: 46px;
  width: 90px;
  position: relative;
}

.item:hover {
  flex: 0 0 100px;
}
.item:hover .image {
  flex: 0 0 100px;
  height: 56px;
  width: 100px;
}
