.title {
  font-size: 1.125rem;
  font-weight: 600;
  margin-bottom: 14px;
}

.grid {
  display: grid;
  width: 88%;
  grid-template-columns: repeat(auto-fill, minmax(174px, 1fr));
  gap: 12px;
  row-gap: 24px;
}
