.topSection {
  position: relative;
}

.gradient {
  z-index: 2;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 1000px;
  background: rgb(15, 16, 20);
  background: linear-gradient(
    to right,
    rgb(15, 16, 20) 0%,
    rgba(15, 16, 20, 0.98) 5%,
    rgba(15, 16, 20, 0.95) 10%,
    rgba(15, 16, 20, 0.9) 15%,
    rgba(15, 16, 20, 0.85) 20%,
    rgba(15, 16, 20, 0.8) 25%,
    rgba(15, 16, 20, 0.75) 30%,
    rgba(15, 16, 20, 0.7) 35%,
    rgba(15, 16, 20, 0.65) 40%,
    rgba(15, 16, 20, 0.6) 45%,
    rgba(15, 16, 20, 0.55) 50%,
    rgba(15, 16, 20, 0.45) 60%,
    rgba(15, 16, 20, 0.35) 70%,
    rgba(15, 16, 20, 0.25) 80%,
    rgba(15, 16, 20, 0.15) 90%,
    rgba(15, 16, 20, 0.05) 95%,
    rgba(15, 16, 20, 0) 100%
  );
}

.gradientBottom {
  z-index: 2;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 150px;
  width: 100%;
  background: rgb(15, 16, 20);
  background: linear-gradient(
    to top,
    rgb(15, 16, 20) 0%,
    rgba(15, 16, 20, 0.98) 5%,
    rgba(15, 16, 20, 0.95) 10%,
    rgba(15, 16, 20, 0.9) 15%,
    rgba(15, 16, 20, 0.85) 20%,
    rgba(15, 16, 20, 0.8) 25%,
    rgba(15, 16, 20, 0.75) 30%,
    rgba(15, 16, 20, 0.7) 35%,
    rgba(15, 16, 20, 0.65) 40%,
    rgba(15, 16, 20, 0.6) 45%,
    rgba(15, 16, 20, 0.55) 50%,
    rgba(15, 16, 20, 0.45) 60%,
    rgba(15, 16, 20, 0.35) 70%,
    rgba(15, 16, 20, 0.25) 80%,
    rgba(15, 16, 20, 0.15) 90%,
    rgba(15, 16, 20, 0.05) 95%,
    rgba(15, 16, 20, 0) 100%
  );
}

.backdropContainer {
  width: 100vw;
  max-height: 100vh;
  position: relative;
  aspect-ratio: 16/9;
  overflow: hidden;
  overflow-y: hidden;
}

.backdrop {
  object-fit: cover;
  overflow: hidden;
}

.infoSection {
  z-index: 3;
  max-width: 30%;
  position: absolute;
  left: 100px;
  bottom: 0;
  gap: 20px;
  color: white;
  display: grid;
  opacity: 0.8;
}

.title {
  font-size: 4rem;
}

.description {
  font-size: 0.875rem;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 4.5em; /* Fallback: 1.5em × 3 lines */
  line-height: 1.5em;
}

.subInfo {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 0.875rem;
  font-weight: 600;
}

.separator {
  font-weight: 400;
  color: #808080;
}

.genres {
  margin-top: 10px;
  margin-bottom: 32px;
}

.buttonWrapper {
  z-index: 5;
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 32px;
}
