.container {
  z-index: 13;
  position: relative;
  width: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  overflow-x: scroll;
}

.itemGroup {
  position: absolute;
  display: flex;
  justify-content: flex-start;
  gap: 8px;
}
