.itemContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}

.item {
  transition: all 0.1s;
  position: relative;
  border-radius: 4px;
}

.image {
  transition: all 0.1s;
  height: 232px;
  width: 174px;
  position: relative;
}
